.partners-form

    &__title
        font-size: clamp(12px,30/1024*100vw,30px)
        font-weight: 700
        margin-bottom: 2.3vh

    &__form
        display: grid
        grid-template-columns: repeat(2,49%)
        gap: 2vmin
        @media (width <= 600px)
            grid-template-columns: 100%

        textarea
            grid-column: -2 / -1
            grid-row: 1 / 4
            @media (width <= 600px)
                grid-column: unset
                grid-row: unset

        input, textarea
            background: rgba(9, 8, 21, 0.01)
            box-shadow: inset 0px 0px 68px rgba(24, 24, 25, 0.05)
            backdrop-filter: blur(24px)
            border-radius: 7px
            color: #303031
            border: none
            padding: 11px 22px
            font-size: 16px

        button
            width: fit-content
            font-size: 16px
            font-weight: 350
            color: #303031
            border-color: #303031
            &:hover
                color: #fff
