mixin partners-form(caption="СТАТЬ ПАРТНЕРОМ")
    form.partners-form(action="")
        .partners-form__title= caption
        .partners-form__form 
            input(type="text" name="name" placeholder="Имя")
            input(type="text" name="email" placeholder="E-mail")
            input(type="text" name="phone" placeholder="")
            textarea(name="comment" cols="30" rows="10" placeholder="Оставьте свой отзыв")
            button.contacts__button(type="submit")= "Отправить \u27F6"