mixin partners-form(caption="СТАТЬ ПАРТНЕРОМ")
    form.partners-form(action="/mail.php")
        .partners-form__title= caption
        .partners-form__form 
            input(type="text" name="name" placeholder="Имя")
            input(type="text" name="email" placeholder="E-mail")
            input(type="text" name="form_text_3" placeholder="")
            textarea(name="comment" cols="30" rows="10" placeholder="Напишите комментарий")
            button.button(type="submit")= "Отправить \u27F6"