@import "@var"
$toggle: 600px

.aside-menu
    background: #fff1
    backdrop-filter: blur(6px)
    padding: 1em
    border-radius: 10px
    margin-right: 1em
    &__list
        display: flex
        flex-direction: column
        row-gap: 5vh

        @media (height < 800px)
            row-gap: 2vh

        @media (width <= $toggle)
            // flex-direction: row
            // flex-wrap: wrap
            // align-items: flex-start
            // justify-content: center
            display: grid
            grid-template-columns: repeat(2, 49%)
            gap: .5em

        & > li
            list-style: none
            flex: 1 1 45%
            & > a
                // +cur-b
                text-decoration: none
                color: #303031
                color: #fff

    &__item
        max-width: 235px
        transition: color .4s
        &:hover
            color: #115DA1

        @media (width <= $toggle)
            & > *
                text-align: center

    &__title
        font-size: 4vh
        font-weight: bold
        white-space: nowrap

    &__caption
        font-size: 1.8vh

    @media (width <= $toggle)
        width: min(90%, 320px)
        margin: 0 auto
