@font-face
    font-family "Rosatom"
    font-style light
    font-weight 200
    src local("Rosatom"), url("../assets/fonts/RST45.woff2") format("woff2"),
@font-face
    font-family "Rosatom"
    font-style normal
    font-weight 400
    src local("Rosatom"), url("../assets/fonts/RST55.woff2") format("woff2"),
@font-face
    font-family "Rosatom"
    font-style italic
    font-weight 400
    src local("Rosatom"), url("../assets/fonts/RST56.woff2") format("woff2"),
@font-face
    font-family "Rosatom"
    font-style normal
    font-weight 700
    src local("Rosatom"), url("../assets/fonts/RST75.woff2") format("woff2"),
