=wid($x:1320px,$percent:95%)
    width: min($x,$percent)
    margin: 0 auto

=cur-b($cursor: pointer)
    cursor: url("../../assets/cursor/black.png") 19 19, $cursor
=cur-w($cursor: pointer)
    cursor: url("../../assets/cursor/white.png") 19 19, $cursor
