@import "./_fonts"
@import "./_range"
@import "@var"
@import "./styles/*.sass"
@import "../components/**/*.sass"
@import "../pages/sections/**/*.sass"
@import "../pug/layouts/**/*.sass"
@import "../blocks/**/*.sass"

*,*::after,*::before
    box-sizing: border-box
    margin: 0
    color: inherit
    cursor: inherit

a
    cursor: inherit !important

body
    font-family: Rosatom, sans-serif
    user-select: none
    -webkit-tap-highlight-color: transparent
    min-width: 320px
    max-width: 1920px
    margin: 0
    padding: 0
    overflow-x: hidden

main > header.header
    position: fixed
    top: 0
    z-index: 1

button
    cursor: inherit

.screen
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    transition: top $std_trans ease-in-out
    &:not([active])
        top: 100vh
    &[data-number="0"]
        background: linear-gradient(to left, #E9F3FC, #fff)
    &[data-number="5"]
        background: linear-gradient(210.71deg, #1C376A 16.3%, #404041 85.06%)

.container
    // position: absolute
    padding: max(8%, 80px) 10% 10%
    width: 100vw
    height: 100vh
    margin: 0

.title
    width: fit-content
    font-size: clamp(22px,80/1920*100vw,80px)
    font-weight: bold
    line-height: 1.2
    translate: 0
    @media (width <=510px)
        width: 100%
        text-align: center
        justify-content: center

.convex
    background: #ECF0F3
    box-shadow: 18px 18px 30px #D1D9E6, -18px -18px 30px #FFFFFF
    border-radius: 10px
    overflow: hidden

.hint
    position: absolute
    bottom: -10px
    right: 50px
    width: fit-content
    max-width: 30%
    opacity: 0
    transition: opacity $std-trans
    z-index: -1

    & > .convex
        padding: 1em

    &[show]
        opacity: 1
        z-index: 2

    @media (width <= 1024px)
        max-width: 90%
        right: 40px

.modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: #0002
    backdrop-filter: blur(6px)
    display: grid
    place-items: center
    z-index: 2

    &__close
        background: url("../../assets/svg/x-square.svg") no-repeat
        width: 46px
        height: 46px
        position: absolute
        top: -40px
        right: -40px

.feedback

    &__body
        position: relative
        background: linear-gradient(202.44deg, #30A842 0%, #173D7A 103.26%)
        border-radius: 10px
        width: min(494px, 96vw)
        height: 76vh
        color: #fff
        padding: ph(49) pw(39) ph(56)

    &__title
        font-weight: 700
        font-size: clamp(20px, 30 / 1024 * 100vw,30px)
        text-transform: uppercase
        margin-bottom: ph(17)

    &__caption
        font-weight: 350
        font-size: clamp(14px,18 * 1024 * 100vw,18px)
        margin-bottom: ph(30)

    &__input
        display: block
        width: 100%
        background: rgba(255, 255, 255, 0.1)
        border: 1px solid #FFFFFF
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        backdrop-filter: blur(24px)
        border-radius: 7px
        padding: 11px 36px
        font-size: 16px
        margin-bottom: ph(14)

        &::placeholder
            color: #fff

    &__agree
        display: flex
        align-items: flex-start
        column-gap: pw(22)
        margin-bottom: ph(9)

        & > input
            margin-top: 10px

    &__submit
        display: block
        background: #30A842
        border-radius: 33px
        border: 0
        +fz(18,1024,25)
        padding: 10px 30px
        margin: 0 auto

        &:disabled
            background: #777
            color: #bbb
