include ../../components/data-card/data-card.pug
.data-center
    img(src="../../../assets/svg/dc.svg")
    .data-center__plug
    .data-center__container.container
        .data-center__title.title.text-masked-element(style="--background: #303031") ЦОД В ЦИФРАХ
        ul.data-center__list
            each i in dataCenterCards
                li.data-center__card
                    +data-card(i)
