include ../../components/service-card/service-card.pug
.service-center
    //- img(src="../../../assets/svg/dc.svg")
    .service-center__plug
    .service-center__container.container
        .service-center__title.title.text-masked-element(style="--background: #fff") УСЛУГИ
        ul.service-center__list
            each i in serviceCards
                li.service-center__card
                    +service-card(i)