.service-center
    img(src="../../../assets/images/advantages.png", data-number="0")
    img(src="../../../assets/images/advantages.png", data-number="1", style="filter:invert(1)")
    img(src="../../../assets/images/advantages.png", data-number="2", style="filter:brightness(0.5)")
    img(src="../../../assets/images/advantages.png", data-number="3", style="filter:hue-rotate(30deg)")
    img(src="../../../assets/images/advantages.png", data-number="4", style="filter:hue-rotate(90deg)")
    img(src="../../../assets/images/advantages.png", data-number="5", style="filter:hue-rotate(120deg)")
    .service-center__container
        h1.service-center__title.text-masked-element(style="--background: #303031") ПРЕИМУЩЕСТВА
        ul.service-center__list
            each i, idx in advantages
                li.service-center__card(data-number= idx)
                    +service-card(i,"advantages")