.geonet 
    .geonet__container




        .geonet__title.title.text-masked-element(style="--background: #fff; --circle-color: #6EABDD") 
            p ГЕОРАСПРЕДЕЛЕННАЯ 
            p СЕТЬ
        .geonet__data 
            .geonet__data-left
                .geonet__data-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus soluta illum quo quisquam dolores corporis iure qui cupiditate laborum quae eligendi consequatur ipsam aperiam modi consectetur animi porro nulla ex veniam quis, accusamus corrupti provident delectus nobis? Iusto, vitae quidem?
                ul.geonet__data-types 
                    each i in typedc
                        li.geonet__data-type
                            .geonet__data-mark(style="background: "+i.color)
                            .geonet__data-name= i.name


            .geonet__data-right


    .geonet__map
        #regions
            include ../../../assets/svg/map-big1.svg
        .geonet__icon-layer 
            each i in geo
                .geonet__region(data-regionid= i.id, data-region= i.name)
                    - const groupedByType = i.dc.reduce((acc, e) => {if (!(e.type in acc)) acc[e.type] = [];acc[e.type].push(e);return acc;}, {});

                    each key in Object.keys(groupedByType)
                        //- p= JSON.stringify(key, null, 2)
                        .geonet__grouped(data-group= key, data-color= typedc[key].color )
                            img.geonet__icon(src= typedc[key].icon, data-name= typedc[key].name, data-param= typedc[key].param)
                            .geonet__topopup 
                                each j in i.dc.filter(({type})=>type===key)
                                    .geo__cod
                                        .geo-popup__dcname= j.name
                                        .geo-popup__dcparam= j.param

    .geonet__connector
        .geonet__connector-left
        .geonet__connector-right
    .geonet__popup
        include ../../components/geo-popup/geo-popup.pug 
            //- each j in grouped[key]
            //-     //- p= JSON.stringify(j, null, 2)
            //-     img.geonet__icon(src= typedc[j.type].icon, data-name= j.name, data-param= j.param)

