.about

    &__block
        display: grid
        place-items: center
    &__container
        width: 80%

    &__grid
        display: grid
        grid-template-columns: repeat(3,32%)
        grid-template-rows: repeat(2, auto)
        gap: 30px 22px

    &__split
        display: grid
        grid-template-columns: repeat(2, 49%)
        column-gap: 1%
