.about
    color: #404041
    // margin-top: 90px

    &__block
        display: grid
        place-items: center

    &__container
        width: 80vw
        margin-inline: auto

        .title
            margin-bottom: 47px

    &__grid
        display: grid
        grid-template-columns: repeat(auto-fill,minmax(370px, 1fr))
        grid-auto-rows: 1fr
        gap: 30px 2.2vh

        +mq1024
            grid-template-columns: repeat(auto-fill,minmax(280px, 1fr))
            gap: 22px

        &--4x3
            grid-template-columns: repeat(4,24%)
            grid-template-rows: repeat(3, 1fr)
            +mq1024
                grid-template-columns: repeat(3,32%)
                grid-template-rows: repeat(4, 1fr)
            +mq580
                grid-template-columns: repeat(2,49%)
                grid-template-rows: repeat(6, 1fr)
            +mq425
                grid-template-columns: 100%

    &__split
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        column-gap: 5%
        .about__split
            column-gap: 0
            grid-template-columns: repeat(2,1fr)

            +mq768
                grid-template-columns: 100%
                grid-auto-rows: 50vh

            &:first-child
                height: 100%

            .splide
                height: 100%

                &__track
                    height: 100%

    &__banner
        position: relative
        height: 100vh

        img
            width: 100%
            height: 100%
            object-fit: cover

    #banner
        position: absolute
        top: 55%
        width: calc(100% - pw(197))
        left: pw(197)

        color: #fff

        &.about__split
            place-items: start center

            & > *:nth-child(2)
                +mq580
                    flex-direction: row
                    column-gap: 1em

        h2
            +fz(22, 1440, 80)

        & > div
            display: flex
            flex-direction: column
            row-gap: 18px

            &:first-child
                & > p
                    +fz(12, 1440, 20)

            &:last-child
                small
                    font-size: 18px
                    font-weight: bold

        +mq768
            left: 2em

            &.about__split
                column-gap: pw(30)

        +mq580
            grid-template-columns: 100%
            place-items: center
            row-gap: 30px

            & > div
                align-items: center

        +mq425
            left: 10px

        @media (height <= 600px)
            top: 30%

    #about-cod
        margin-block: ph(130)

        .about__split
            +mq768
                grid-template-columns: 100%
                row-gap: 10px

    #about-advantages
        margin-top: ph(144)
        margin-bottom: ph(180)

        .service-card__container
            color: #303031
            border-radius: 0
            backdrop-filter: none

        .service-card__title
            border: 1px solid #303031

    #about-cod-in-digitals
        margin-top: ph(151)

    #clients-talking
        margin-top: ph(108)
        margin-bottom: ph(138)

        .about__split

            +mq768
                grid-template-columns: 100%
                grid-template-rows: 50vh auto

            &:first-child
                height: 100%

            .splide
                height: 100%

                &__track
                    height: 100%
            +mq1024
                grid-template-columns: 100%
                row-gap: 3em

            input, textarea
                background: #ECF0F3
                box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #FFFFFF

            [type="submit"]
                border: none
                background: #30A842
                color: #fff

    &__cell
        display: grid
        place-items: center start
        padding: 20px 2.5vh

        .title
            margin: 0
            font-weight: 700
            font-size: clamp(24px,48 / 1024 * 100vw ,48px)
            color: #404041

    &__blue
        background: #6EABDD00
        color: #fff
        height: 100%
        border-radius: 10px
        padding: 1em
        height: 100%

        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px

        +mq768
            grid-template-columns: 100%

        // img
        //     width: 80%
        //     aspect-ratio: 1
        //     margin: 0 auto
        //     clip-path: path("M111.248 19.4695C95.6556 5.20954 81.8549 -0.881879 60.77 0.102307C44.1142 0.879757 33.2581 4.25389 20.9401 15.517C9.58953 25.8956 5.47907 35.2111 2.40536 50.299C0.248681 60.8854 2.67615 67.165 2.40536 77.9664C2.06438 91.5672 -1.14374 104.843 0.433577 112.748C1.99237 120.561 5.94157 124.52 12.2643 129.349C20.5454 135.673 63.6973 130.638 90.3467 114.725C112.445 101.529 133.465 91.8496 134.909 66.1089C136.054 45.708 126.307 33.2426 111.248 19.4695Z")
        //     object-fit: cover
        //     object-position: 100% 0

    &__blue-left
        display: grid
        grid-template-columns: 1fr 2fr
        column-gap: pw(24)

    &__blue-name
        font-weight: bold
        font-size: 20px

    #about-statement
        position: relative
        .about__split
            column-gap: 0
            grid-template-columns: repeat(2,1fr)

            +mq768
                grid-template-columns: 100%
                grid-auto-rows: 50vh

            &:first-child
                height: 100%

            .splide
                height: 100%

                &__track
                    height: 100%

        aside
            position: relative

    #about-statement-frame
        color: #fff
        & > img,.about__split
            position: absolute
            z-index: 1
            width: 100%
            height: 100%
            top: 0
            left: 0

        & > img
            object-fit: cover

        .about__split
            z-index: 2

            aside:first-child
                h2
                    width: min-content
                    margin: ph(51) auto 0
                    font-weight: 700
                    font-size: clamp(30px,60 / 1024 * 100vw,60px)
                    line-height: 78px
                    text-transform: uppercase
                p
                    line-height: 1.02

            aside:last-child
                display: flex
                flex-direction: column
                justify-content: space-between
                padding: ph(69) pw(126)

                & > p
                    margin-top: ph(55)
                    max-width: 431px
                    +fz(12,768,20)

                & > div
                    & > p
                        font-size: 20px
                        line-height: 105%

                        &:nth-child(2)
                            margin-bottom: 21px

                    & > h2
                        font-weight: 700
                        +fz(30,1024,80)
                        line-height: 91.8%
                        text-transform: uppercase

                +mq768
                    flex-direction: column-reverse
                    align-items: center
                    justify-content: center
                    div
                        width: 100%
                        & > *
                            text-align: center

    #ceo
        position: absolute
        left: 50%
        bottom: 0
        translate: -50% 0
        width: max(300px,35vw)

        @media (width <= 768px) and (height <= 850px)
            display: none

    &__3d
        perspective: 500px
        perspective-origin: center

    &__footer
        color: #fff
        width: 100%
        // max-height: 584px
        background: url("../../../assets/svg/above-footer.svg") no-repeat
        background-size: cover
        padding: ph(73) 0 ph(137)

        .about__split
            +mq768
                grid-template-columns: 100%

        h2
            font-weight: 700
            font-size: clamp(30px,60 / 1024 * 100vw,60px)
            line-height: 1.1
            text-transform: uppercase
            color: #FFFFFF
            margin-bottom: 10px

        .about__wrap
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between

        .about__phone
            text-decoration: none
            & > h3
                font-weight: 700
                font-size: clamp(25px,50 / 1024 * 100vw,50px)
                line-height: 65px
                text-transform: uppercase

        .partners-form__form.partners-form__form
            >:is(input, textarea, [type="submit"])
                border: 1px solid #fff
                color: #fff

                &::placeholder
                    color: #fff

            [type="submit"]
                background: #fff
                color: #30A842

    &__slider-controls
        display: flex
        align-items: center
        column-gap: 18px
        padding-inline: 2em
        margin-top: -2em

        svg > path
            fill: #fff

        +mq768
            margin-top: 0.5em
            filter: invert(1)
            padding-inline: 0

    &__slider-control
        rotate: 0
        &--left
            rotate: 180deg
            translate: 0 -2px

    &__blue-right
        display: flex
        flex-direction: column
        row-gap: ph(31)
        height: 323px
        overflow: auto

        scrollbar-width: thin

        &::-webkit-scrollbar
            width: 2px
            background: #0000
            padding: 0
            margin: 0

        &::-webkit-scrollbar-thumb
            width: 2px
            background: #fff

    &__accordion
        margin-top: 1em
        display: grid
        grid-template-rows: 0fr
        transition: grid-template-rows $std_trans

        & > div
            overflow: hidden

    &__blue-continue
        position: relative

    input.about__accordion-trigger
        box-shadow: unset
        background: none
        position: absolute
        display: block
        width: 100%
        top: 0
        left: 0
        height: 1.5em
        z-index: 2
        opacity: 0

        &:checked + .about__accordion
            grid-template-rows: 1fr

    &__slider
        background: #6EABDD
        border-radius: 10px
    //     min-height: 400px

    #startvideo
        width: clamp(30px,111/1024 * 100vw,111px)
        aspect-ratio: 1

        & > svg
            width: 100%
