.additional-services

    &__container.container
        background: #ECF0F3
        height: unset

    .banner
        margin-bottom: 173px
        img
            aspect-ratio: unset
        +mq1024
            margin-top: 0
            margin-bottom: 50px

    .convex
        display: grid
        place-items: center
        padding: ph(55) pw(129)
