
$change_point0: "width <= 860px"
$change_point1: "width <= 510px"
$change_point2: "width <= 380px"
.advantages-center
    background: #ECF0F3
    height: 100vh
    color: #303031

    & > img
        position: absolute
        inset: 0
        width: 100vw
        height: 100vh
        z-index: 0
        object-fit: cover
        rotate: 0 1 0 180deg
        filter: grayscale(0.9) brightness(300%) contrast(100%)
        opacity: 0
        transition: opacity 1s
        &[show], &[const]
            opacity: 1

    &__container
        @extend .data-center__container

    &__list
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(24%,1fr))
        gap: 6.5vh 4.166667vw
        grid-auto-rows: 25vh
        list-style: none
        padding: 0
        margin: 3vh 0 0

        @media ($change_point0)
            grid-template-columns: repeat(auto-fit, minmax(33%,1fr))
            gap: 2vh
            grid-auto-rows: 22vh

        @media ($change_point1)
            grid-template-columns: repeat(auto-fit, minmax(50%,1fr))
            grid-auto-rows: 30vh
            gap: 5vh
            height: 75vh
            overflow: scroll
            padding: 20px 10px 0
            padding-bottom: 20vh

    &__card
        color: #fff
