$media0: "width <= 1800px"
$media1: "width <= 1400px"
$media2: "width <= 1024px"

.contacts
    background: linear-gradient(242.46deg, #1C376A 0%, #30A842 186.27%)
    height: 100vh
    color: #fff
    // +cur-w

    a
        color: #fff
        text-decoration: none
        // +cur-w

    &__container
        +center-a
        height: 75vh
        // top: 60vh
        // @media ($media1)
        //     top: 55%
        // @media ($media2)
        //     top: 62%
        +delete-scrollbar
        @media(height <= 520px)
            top: 60%

    &__title
        display: flex
        align-items: center
        column-gap: 1.597222vw

    &__data
        width: 100%
        height: 60vh
        overflow: auto
        display: grid
        grid-template-columns: 24% 24% 49%
        grid-template-rows: repeat(2, minmax(260px, 23.2vh))
        grid-template-areas: "details sales map" "details support map"
        gap: 13px
        margin-top: 6.1vh

        @media ($media0)
            grid-template-areas: "details details map" "sales support map"
        @media ($media1)
            grid-template-columns: 32% 32% 32%
            grid-template-areas: "details sales support" "map map map"
        @media ($media2)
            grid-template-columns: 100%
            grid-template-rows: repeat(4,auto)
            grid-template-areas: "details" "sales" "support" "map"

        & > *
            display: flex
            flex-direction: column
            justify-content: flex-start
            row-gap: 10px
            @media ($media1)
                justify-content: space-between

    &__panel
        background: rgba(9, 8, 21, 0.01)
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        backdrop-filter: blur(24px)
        border-radius: 10px
        padding: 2.5vh 2.142857vw
        // & > * + *
        //     margin-top: 10px

    &__details
        display: flex
        align-items: center
        column-gap: 1.041667vw
        font-size: clamp(11px,14/1400*100vw,14px)
        &:nth-child(2)
            // flex: 1
        & > img
            width: min(20%,34px)

    &__details-title
        font-weight: 400
        font-size: 20px
        // margin-bottom: 1.5vh

    &__buttons
        width: 100%
        display: flex
        // align-items: stretch
        justify-content: space-evenly
        column-gap: clamp(5px,12/1400*100vw,12px)
        flex-direction: column
        row-gap: 1.2vh
        margin-top: 2vh
        @media ($media1)
            margin-top: unset

    &__button
        +cur_w()
        display: block
        width: 100%
        border-radius: 33px
        padding: 5px 19px
        background: none
        border: 1px solid #fff
        color: #fff
        // width: fit-content
        font-weight: 350
        font-size: clamp(12px,16/1400*100vw,16px)
        // white-space: nowrap
        // +cur-w
        max-width: 360px
        margin: 0 auto

        &:hover
            background-color: #30A842
            border-color: #30A842

    &__main-address
        grid-area: details

    &__sales
        grid-area: sales

    &__support
        grid-area: support

    &__map
        border-radius: 10px
        grid-area: map
        width: 100%
        height: 100%
        min-height: 300px
        padding: 0
        margin: 0
        overflow: hidden
        & > *
            height: 100% !important
            // +cur-w

    &__go
        font-size: 16px

    &__line
        display: block
        width: 3.75vw
        height: 1px
        background-color: #fff
