.contacts-page
    background: #ECF0F3
    min-height: 100vh
    display: grid
    place-items: start center

    &__container.container
        height: unset
        padding: max(8%, 80px) 0 1em
        width: 80%
        display: flex
        flex-direction: column

    .contacts__data
        column-gap: ph(30)
        overflow: visible
        margin-top: 2vh
        display: flex
        flex-wrap: wrap
        height: unset
        max-height: unset
        margin-bottom: 1em

        & > *
            flex: 1 0 280px
            max-height: max-content

    .contacts__details
        img
            filter: invert(1)

        &--straight
            img
                filter: none

    .contacts__buttons
        flex-direction: row
        align-content: center
        flex-wrap: wrap

    .contacts__button
        color: #303031
        border-color: #303031
        display: flex
        align-items: center

        &:hover
            color: #fff

    #map
        min-height: 400px
