.excursion
    display: block

    &__container
        position: relative
        display: grid
        place-items: center
        min-height: 100dvh

    &__image
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &__banner
        margin: 120px pw(32) 2em
        max-width: calc(1384px + 4em)
        color: #fff
        z-index: 1
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        place-items: center
        column-gap: pw(20)

        h2
            +fz(30, 1920, 78)

        +mq768
            grid-template-columns: 100%
            row-gap: 10px
