$change_lay: "width <= 768px"
.geonet
    background: linear-gradient(60deg, darken(#30A842, 30%), darken(#30A842, 7%))
    background: linear-gradient(242.46deg, #1C376A 0%, #30A842 186.27%)
    color: #fff
    height: 100vh
    position: relative
    overflow: hidden
    // +cur-b

    &__container.container
        position: absolute
        z-index: 2
        height: max-content
        height: 100vh
        pointer-events: none

    &__title
        & > p
            line-height: 1.3

    &__data
        pointer-events: none
        display: grid
        grid-template-columns: repeat(2,45%)
        column-gap: 5.208333vw

        @media ($change_lay)
            grid-template-columns: 100%
            rotate: 0
            z-index: 2

        &-left
            position: relative
            margin-top: 50px
            @media ($change_lay)
                margin-top: 1em

        &-right
            & > #regions, #fake-map
                top: 0
                position: fixed
                width: 100%

        &-types
            margin-top: 3vh
            padding: 0
            list-style: none
            display: flex
            flex-direction: column
            row-gap: 2vh
            @media (width < 520px)
                row-gap: 0.7vh
                margin-top: 1vh

        &-type
            display: flex
            align-items: center
            column-gap: 10px
            font-size: clamp(13px,20/1024*100vw,20px)

        &-mark
            width: 4.5vmin
            height: 4.5vmin
            border-radius: 50%
            flex-shrink: 0

        &-text
            font-size: clamp(12px,18/1024*100vw,18px)

    &__icon-layer
        position: fixed
        top: 0
        z-index: 2

        +mq768
            display: none

    &__region
        position: fixed
        top: 0
        z-index: 10
        // display: flex
        display: grid
        grid-template-columns: repeat(2,1fr)
        grid-auto-rows: 2.5vh

    &__grouped
        & > * + *
            margin-top: -3vh

    &__icon
        --period: 1.5s
        --phase: 0
        width: max(14px,2.291667vw)
        height: 4.4vh
        animation: puls var(--period) infinite
        animation-delay: var(--phase)

    &__popup
        pointer-events: none
        position: fixed
        bottom: 1em
        left: 30%
        bottom: 10%
        width: max-content
        z-index: 11
        opacity: 1
        transition: opacity $std_trans
        @media (width <= 768px)
            translate: 0% 0%
            right: 6vw

    &__connector
        pointer-events: none
        position: absolute
        display: grid
        grid-template-columns: 1fr 1fr
        padding: 0 5px
        scale: 0
        transition: .5s
        transform-origin: left
        z-index: 0
        @media ($change_lay)
            display: none

        &-left
            border: 2px solid #303031
            border-top-color: transparent
            border-left-color: transparent

        &-right
            border-top: 2px solid #303031

    &__topopup
        visibility: hidden
        position: absolute

    &__map
        bottom: 0vh
        top: 0
        position: absolute
        // translate: 60% 0%
        // height: 100vh
        translate: pw(700) 0
        overflow-y: hidden
        // width: 100vw
        // left: 0vw

        // // @media (width <= 1024px)
        // //     translate: pw(350) 0
        // @media (width <= 1024px)
        //     translate: pw(350) 0
        @media (width <= 768px)
            translate: 0 0
        @media (width <= 600px)
            translate: -200px 80px

        @media (width <= 400px)
            translate: -330px 80px

        & > *
            overflow: hidden

#regions
    & > svg, img
        // width: 100%
        height: 100vh

    img
        object-fit: contain
        @media (width > 768px)
            display: none
    svg
        +mq768
            display: none

// #fake-map
//     // position: fixed
//     // top: 0
//     // left: 0
//     // width: 100vw
//     // height: 100vh
//     display: none

//     & > img
//         height: 100vh
//         object-fit: cover

//     +mq768
//         display: block

@keyframes puls
    0%
        scale: 1 1
    50%
        scale: 1.2 1.2

    100%
        scale: 1 1
