.ic

    .innopolis
        position: relative

    .ic__container
        min-height: 100vh
        display: grid
        place-items: center
        padding-block: 1em

        & > div
            width: 81vw

            @media (width <= 510px)
                width: 98vw

    .about__banner
        h2
            position: absolute
            top: 55%
            color: #fff
            +fz(22,1024,80)
            left: 9%
            width: min-content
