.ic

    .innopolis
        position: relative

    .about__banner
        h2
            position: absolute
            top: 55%
            color: #fff
            +fz(22,1024,80)
            left: 9%
            width: min-content
