.main-block
    // margin-top: 15vh
    // margin-left: calc(200/1920*100%)
    // margin-right: 100px
    position: absolute
    top: 50%
    left: 50%
    translate: -50% -50%
    display: flex
    width: 85%
    justify-content: space-between
    align-items: center
    // &__leftside
    //     margin-top: 98px
    &__title
        font-size: clamp(30px,4.6875vw, 90px)
        // line-height: 1.5
        font-weight: bold
        color: #303031
        text-transform: uppercase
        @media (width <= 475px)
            letter-spacing: -2px

        & > p + p
            margin-top: -13px
    &__aside
        display: block
