$toggle: 600px

.main-block
    position: absolute
    top: 50%
    left: 50%
    translate: -50% -50%
    display: flex
    width: 85%
    justify-content: space-between
    align-items: center
    &__title
        font-size: clamp(25px,4.6875vw, 90px)
        font-weight: bold
        color: var(--background)
        text-transform: uppercase

        @media (width <= 475px)
            letter-spacing: -2px

        & > p + p
            margin-top: -13px
            @media (width <= $toggle)
                margin-top: 0
    &__aside
        display: block

    &__leftside
        translate: 0 75%
        @media (width <= $toggle)
            translate: 0 -25%

    @media (width <= $toggle)
        flex-direction: column
