.partners
    @extend .innopolis
    +cur-w
    &__container
        +wid(1520px)
        margin-top: 186px

    &__data
        display: grid
        grid-template-columns: repeat(2,45%)
        column-gap: calc(111/1920*100vw)

    &__title
        @extend .contacts__title

    &__cell
        display: flex
        flex-direction: column

    & .splide
        mask-image: none

    &__controls
        @extend .innopolis__controls

    &__control-button
        @extend .innopolis__control-button
