.placement

    .banner
        +mq1024
            margin-top: 0

    .cloud__constructor-left.convex
        min-height: 368px

    .cloud__constructor-inner
        grid-template-columns: minmax(0,2fr) 1fr
        column-gap: pw(78)

        +mq1440
            grid-template-columns: 100%
            row-gap: 30px

    .convex
        padding: 1.5em

    .cloud__constructor-right
        +fz(14, 1024, 18)
        display: flex
        flex-direction: column
        row-gap: 2.5rem

    .range
        grid-template-columns: auto max-content 10%
        // grid-template-rows: repeat(2, 1fr)
        font-size: clamp(20px,25 / 1024 * 100vw ,25px)
        & > *:first-child
            grid-area: 1 / 1 / 2 / -1

        & > *:first-child, & > *:last-child
            +fz(14,1024,25)

        @media (width <= 930px)
            grid-template-columns: repeat(3, minmax(0,1fr))
            place-items: center

            & > *:first-child
                grid-area: 1 / 1 / 2 / 2

            .range__input
                grid-area: 2 / 1 / 3 / -1

            input[type="number"]
                width: 80%

    .rent-config__button
        position: absolute
        inset: auto 0 ph(45) pw(40)

    & svg g[data-fly]
        animation: fly 3s infinite

    & svg path[data-scale]
        animation: scale 3.7s 0.7s infinite

    & svg path[data-opacity]
        animation: opacity 1.5s infinite

@keyframes fly
    0%
        translate: 0 0
    50%
        translate: 0 -20px
    100%
        translate: 0 0

@keyframes scale
    0%
        scale: 1 1
    50%
        scale: 1.05 1.05
    100%
        scale: 1 1

@keyframes opacity
    0%
        opacity: 1
    50%
        opacity: 0.1
    100%
        opacity: 1
