.service-center
    +cur-b
    background: #ECF0F3
    height: 100vh

    & > img
        position: absolute
        inset: 0
        object-fit: cover
        z-index: 0
        opacity: 0
        transition: opacity .5s
        &[show]
            opacity: 1

    &__container
        +wid(1520px)
        padding-top: 186px
        position: absolute
        left: 50%
        translate: -50%

    &__title
        font-size: 80px
        font-weight: bold
        width: min-content

    &__list
        display: grid
        grid-template-columns: repeat(3,1fr)
        gap: 65px 80px
        grid-auto-rows: 232px
        list-style: none
        padding: 0
        margin: 30px 0 0
