
$change_point0: "width <= 860px"
$change_point1: "width <= 510px"
$change_point2: "width <= 380px"
.service-center
    // +cur-b
    // background: #ECF0F3
    background: linear-gradient(242.46deg, #1C376A 0%, #30A842 186.27%)
    height: 100vh

    & > img
        position: absolute
        inset: 0
        width: 100vw
        height: 100vh
        z-index: 0
        object-fit: cover
        rotate: 0 1 0 180deg
        filter: brightness(90%) contrast(100%)

    &__container
        // +wid(1520px)
        // padding-top: 186px
        // position: absolute
        // left: 50%
        // translate: -50%
        +center-a
        // height: 75%
        // overflow-y: auto
        @media ($change_point1)
            top: 60%
        @media ($change_point2)
            top: 70%

    &__plug
        position: absolute
        z-index: 0
        inset: 0
        // background: linear-gradient(#000, #fff)
        mix-blend-mode: multiply

    &__list
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(24%,1fr))
        gap: 6.5vh 4.166667vw
        grid-auto-rows: 25vh
        list-style: none
        padding: 0
        margin: 3vh 0 0

        @media ($change_point0)
            grid-template-columns: repeat(auto-fit, minmax(33%,1fr))
            gap: 2vh
            grid-auto-rows: 22vh

        @media ($change_point1)
            grid-template-columns: repeat(auto-fit, minmax(50%,1fr))
            grid-auto-rows: 30vh
            gap: 5vh
            height: 75vh
            overflow: scroll
            padding: 20px 10px 0
            padding-bottom: 20vh
