.team
    // background-color: #ECF0F3
    background: darken(#1C376A, 10%)
    background: linear-gradient(242.46deg, #1C376A 0%, #30A842 186.27%)
    height: 100vh
    color: #fff
    &__container
        +center-a

        @media(height <= 520px)
            top: 60%

    &__title
        font-weight: 700
        font-size: 80px
        width: fit-content
        margin-bottom: 48px
        margin-left: 22px
        @media (width <= 510px)
            margin-left: 0

    .team__controls
        @extend .innopolis__controls

    .team__control-button
        @extend .innopolis__control-button
        color: #fff
