.team
    background-color: #ECF0F3
    height: 100vh
    &__container
        +center-a
        width: 80%

        @media(width <= 1024px)
            top: 60%

    &__title
        font-weight: 700
        font-size: 80px
        width: fit-content
        margin-bottom: 48px
        margin-left: 22px

    .team__controls
        @extend .innopolis__controls

    .team__control-button
        @extend .innopolis__control-button
        color: #404041
