include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/partners-form/partners-form.pug
include ../../components/tabs/tabs.pug

section.about(style="background:#ECF0F3;")
    //- video(src="../../../assets/РЭА.mp4" poster="../../../assets/images/about-main.jpg" alt="about-main" autoplay loop muted draggable="false" style="width: 100%; aspect-ratio: 16 / 9; object-fit: fill;")
    div.about__banner
        img(src="../../../assets/images/about-main.jpg" alt="office")
        .about__split#banner 
            div 
                h2 О КОМПАНИИ
                p ДАВНО ВЫЯСНЕНО, ЧТО ПРИ ОЦЕНКЕ ДИЗАЙНА И КОМПОЗИЦИИ ЧИТАЕМЫЙ ТЕКСТ МЕШАЕТ СОСРЕДОТОЧИТЬСЯ. LOREM IPSUM ИСПОЛЬЗУЮТ ПОТОМУ, ЧТО ТОТ ОБЕСПЕЧИВАЕТ БОЛЕЕ ИЛИ МЕНЕЕ СТАНДАРТНОЕ 
            div 
                small 
                    p Смотреть 
                    p видеоролик о ЦОД
                include ../../../assets/svg/start-video.svg

    .about__block#about-cod
        .about__container
            h2.title О ЦОД ИННОПОЛИС
            .about__split 
                p ДАВНО ВЫЯСНЕНО, ЧТО ПРИ ОЦЕНКЕ ДИЗАЙНА И КОМПОЗИЦИИ ЧИТАЕМЫЙ ТЕКСТ МЕШАЕТ СОСРЕДОТОЧИТЬСЯ. LOREM IPSUM ИСПОЛЬЗУЮТ ПОТОМУ, ЧТО ТОТ ОБЕСПЕЧИВАЕТ БОЛЕЕ ИЛИ МЕНЕЕ СТАНДАРТНОЕ 
                p ДАВНО ВЫЯСНЕНО, ЧТО ПРИ ОЦЕНКЕ ДИЗАЙНА И КОМПОЗИЦИИ ЧИТАЕМЫЙ ТЕКСТ МЕШАЕТ СОСРЕДОТОЧИТЬСЯ. LOREM IPSUM ИСПОЛЬЗУЮТ ПОТОМУ, ЧТО ТОТ ОБЕСПЕЧИВАЕТ БОЛЕЕ ИЛИ МЕНЕЕ СТАНДАРТНОЕ 

    .about__block#about-advantages
        .about__container
            include ../../blocks/advantages/advantages.pug



    #about-statement
        .about__split(width="100%") 
            div(style="background: #1C376A;")
                div(style="height: 100dvh; width: 100%;")
            div(style="background: #6EABDD;")
                div(style="height: 100dvh; width: 100%;")
        #about-statement-frame
            img(src="../../../assets/svg/Frame 10194.svg" alt="back")
            .about__split 
                aside 
                    h2
                        p ОБРАЩЕНИЕ
                        p РУКОВОДСТВА
                    img#ceo(src="../../../assets/images/team/2.png" alt="ceo")
                aside
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное 
                    div
                        p Генеральный 
                        p директор
                        h2 
                            p Николай
                            p Гончаров

    .about__block#about-cod-in-digitals
        .about__container
            h2.title ЦОД В ЦИФРАХ
            .about__grid.about__grid--4x3  
                each i in dataCenterCards
                    .about__cell 
                        .about__wrap
                            .data-card__title(style="text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25)")!= i.title 
                            p!= i.caption


    .about__block#clients-talking
        .about__container
            h2.title Клиенты говорят о нас
            .about__split
                div
                    +splide("talking", clients)
                        .about__3d
                            .about__blue
                                svg(viewBox="0 0 135 133" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                    path(d="M111.248 19.9695C95.6557 5.70954 81.8549 -0.381879 60.77 0.602307C44.1142 1.37976 33.2581 4.75389 20.9401 16.017C9.58949 26.3956 5.47903 35.7111 2.40531 50.799C0.248638 61.3854 2.67611 67.665 2.40531 78.4664C2.06433 92.0672 -1.14379 105.343 0.433534 113.248C1.99233 121.061 5.94153 125.02 12.2642 129.849C20.5454 136.173 63.6973 131.138 90.3467 115.225C112.445 102.029 133.465 92.3496 134.909 66.6089C136.054 46.208 126.307 33.7426 111.248 19.9695Z" fill="url(#pattern0)")
                                    defs
                                        pattern(id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1")
                                            use(xlink:href="#image0_61_5845" transform="matrix(0.005 0 0 0.00511364 0 -0.267045)")
                                        image(id="image0_61_5845" width="200" height="300" xlink:href="https://picsum.photos/200")

                                p.about__blue-name= val.name
                                p= val.comment 
                    .about__slider-controls
                        .about__slider-control.about__slider-control--left
                            include ../../../assets/svg/arrow-right.svg
                        .about__slider-control.about__slider-control--right
                            include ../../../assets/svg/arrow-right.svg


                +partners-form("ОСТАВИТЬ ОТЗЫВ")

    .about__footer 
        //- include ../../../assets/svg/above-footer.svg
        .about__container
            .about__split 
                div.about__wrap 
                    div
                        h2 Остались вопросы?
                        p 
                            p Заполните форму и мы свяжемся
                            p с вами в ближайшее время.
                    div 
                        p 
                            p Вы всегда можете получить
                            p консультацию по телефону:
                        a.about__phone(href="tel:81234567890") 
                            h3 8 123 456 78 90 
                +partners-form("")