include ../../components/bread-crumbs/bread-crumbs.pug
include ../../pug/splides.pug

mixin docsConvex(id, arr,arrId,title,date)
    .convex.docs-convex(id= id)
        .docs-convex__left
            +splide(arrId, arr)
                img(src= val)
            div 
                .docs-convex__title= title
                p Деятельность
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." 

        .docs-convex__right
            div
                .docs-convex__data-label ДАТА ВЫДАЧИ
                date= date
            div 
                .docs-convex__slider-controls 
                    .docs-convex__slider-control.docs-convex__slider-control--left 
                        include ../../../assets/svg/arrow-right.svg
                    .docs-convex__slider-control.docs-convex__slider-control--right 
                        include ../../../assets/svg/arrow-right.svg




.docs 
    .docs__container.container

        +bread-crumbs([{name: "Главная", href:"#"}, {name: "Документы", href:"#"}])


        .docs__title.title.text-masked-element(style="--background: #303031; ")
            p ДОКУМЕНТЫ

        p.docs__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).

        +docsConvex("s1", ["../../../assets/images/docs/seertificate.jpg","../../../assets/images/docs/seertificate.jpg"], "docs-sert", "СЕРТИФИКАТ №1", "13.06.2022")
        +docsConvex("s2", [""], "docs-licen", "ЛИЦЕНЗИЯ №1", "13.06.2022")

        h2.docs__title.title.text-masked-element(style="--background: #303031; ")
            p РЕГЛАМЕНТЫ

        p.docs__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты) - Личный кабинет
        +docsConvex("s3", [""], "docs-reglament", "РЕГЛАМЕНТ", "13.06.2022")

        h2.docs__title.title.text-masked-element(style="--background: #303031; ")
            p ПРАВИЛА

        p.docs__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты) - Личный кабинет
        +docsConvex("s3", [""], "docs-roules", "ПРАВИЛА", "13.06.2022")




