
section.about.excursion(style="background:#ECF0F3;")
    //- video(src="../../../assets/РЭА.mp4" poster="../../../assets/images/about-main.jpg" alt="about-main" autoplay loop muted draggable="false" style="width: 100%; aspect-ratio: 16 / 9; object-fit: fill;")
    div.excursion__container
        img.excursion__image(src="../../../assets/images/excursion.jpeg" alt="excursion")
        .excursion__banner
            div 
                h2 ЭКСКУРСИЯ В ЦОД 
                p ЧТОБЫ МЫ МОГЛИ МАКСИМАЛЬНО ЭФФЕКТИВНО ПОДГОТОВИТЬСЯ К ВАШЕМУ ВИЗИТУ, ЗАПОЛНИТЕ ФОРМУ
            div 
                include ../../blocks/excursion-form/excursion-form.pug


