include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/partners-form/partners-form.pug
include ../../components/tabs/tabs.pug

section.about.ic(style="background:#ECF0F3;")
    div.about__banner
        img(src="../../../assets/images/ic.jpg" alt="office")

        h2 ИНФОРМАЦИОННЫЙ ЦЕНТР ЦОД

    .ic__container
        div
            h2.title.text-masked-element(style="--background: #303031") НОВОСТИ ЦОД
            include ../../blocks/cod-news/cod-news.pug

    include ../../blocks/ic-panorama/ic-panorama.pug

    .ic__container
        div.ic__galary
            h2.title.text-masked-element(style="--background: #303031") ФОТОГАЛЕРЕЯ
            +splide("ic-galary",innopolisSlider)
                img.ic__galary-img(src= val.img)
            .ic__galary-controls 
                button.ic__galary-button.ic__galary-button--left= "\u27F5"
                button.ic__galary-button.ic__galary-button--right= "\u27F6"


    include ../../blocks/excursion-form/excursion-form.pug

    .about__footer 
        //- include ../../../assets/svg/above-footer.svg
        .about__container
            .about__split 
                div.about__wrap 
                    div
                        h2 Остались вопросы?
                        p 
                            p Заполните форму и мы свяжемся
                            p с вами в ближайшее время.
                    div 
                        p 
                            p Вы всегда можете получить
                            p консультацию по телефону:
                        a.about__phone(href="tel:81234567890") 
                            h3 8 123 456 78 90 
                +partners-form("")