
.kb 
    .kb__container.container

        .kb__title
            .title.text-masked-element(style="--background: #303031; ") БАЗА ЗНАНИЙ
            .kb__search 
                .kb__search-plug 
                input(type="text" name="search" placeholder="ПОИСК")
                img(src="../../../assets/svg/search.svg" alt="search") 

        .kb__main 
            aside.kb__aside 
                each section in kb 
                    ul.kb__catalog
                        .kb__catalog-section= section.section
                        each list, idx in section.list 
                            li.kb__catalog-list
                                .kb__catalog-list-name
                                    span= list.name
                                    img(src="../../../assets/svg/chevron.svg")
                                div.kb__catalog-block
                                    ul 
                                        each i in list.list
                                            li
                                                a(href= i.href)= i.title  

            .kb__content
                h2 Регистрация в панели управления
                p 
                    |Управление продуктами Selectel осуществляется через панель управления 
                    a(href="http://my.selectel.ru") my.selectel.ru. 
                    |Зарегистрироваться в панели управления Selectel можно:
                    ul 
                        li через сайт selectel.ru;
                        li по приглашению
                p 
                    |Если в процессе регистрации возникнут проблемы, напишите в службу технической поддержки: 
                    a(href="maito:support@selectel.ru") support@selectel.ru.

                h2 Зарегистрироваться через сайт
                p При регистрации пользователю будет присвоена роль 
                    span(style="color:#30A842;") Владелец аккаунта.
                ul 
                    li На сайте selectel.ru в правом верхнем углу нажмите Зарегистрироваться.
                    li Заполните форму регистрации.
                    li 
                        |Нажмите Зарегистрироваться.
                        br 
                        |Мы отправим письмо со ссылкой для подтверждения на указанную электронную почту. В письме нажмите Подтвердить почту. По ссылке для подтверждения можно перейти один раз. Если вы уже переходили по ней раньше, войдите в аккаунт и продолжите регистрацию. Если вы забыли пароль, 
                        span(style="color:#30A842;") восстановите доступ
                        |  к аккаунту.
                    li Выберите страну резидентства.
                    li Определите тип аккаунта. Тип аккаунта и страна резидентства определяют доступные 
                        span(style="color:#30A842;") способы пополнения баланса. 
                        | Изменить тип позже нельзя.

                p Если в процессе регистрации возникнут проблемы, напишите в службу технической поддержки: 
                    a(href="mailto:support@selectel.ru") support@selectel.ru.