include ../../pug/splides.pug
include ../../components/bread-crumbs/bread-crumbs.pug


.newsgallary
    .services__container.container

        +bread-crumbs([{name: "Главная", href:"/"}, {name: "Новсость №424", href:"/news.html"}])

        .news-page

            date 10.11.22
            h2.news-page__title 10 сентября 2020 года на территории особой экономической зоны «Иннополис» «Росатом» запустил проект по строительству ЦОДа, который станет крупнейшим дата-центром Приволжского федерального округа. В церемонии начала строительства объекта в режиме видеоконференции приняли участие президент Татарстана Рустам Минниханов и гендиректор «Росатома» Алексей Лихачев
            .news-page__block 
                .news-page__block--left
                    img(src="../../assets/images/news/photo_2023-02-27_17-00-15.jpg" alt="")
                .news-page__block--right
                    div 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis adipisci nihil consequatur? 
                        p Cupiditate dolore aut consequuntur tempore facere, nostrum dolorum dolorem vitae fuga perspiciatis officiis culpa fugiat, dicta, possimus repudiandae tenetur ut nesciunt eligendi quis sunt impedit. 
                        p Voluptatem ad, dignissimos nostrum omnis laborum repellat qui nesciunt, delectus eveniet accusantium illum impedit deleniti voluptas nulla debitis totam architecto quia minima! 
                        p Odit molestias ducimus laborum voluptas omnis minima ea fugiat asperiores maxime consequatur dolorum odio excepturi quos fugit, mollitia, alias quidem! 
                        p Ex velit amet atque modi dolore iste voluptas voluptatum at quisquam. Alias, fugit? Porro non ab repellendus quaerat rerum. 
                        p Ad, accusamus repudiandae soluta consequuntur architecto magnam, tempore totam similique deserunt delectus, ipsum est quibusdam accusantium. 
                        p Nam, illum at voluptate hic totam dignissimos culpa recusandae tenetur quasi ab rem facilis blanditiis repudiandae dolor soluta ad tempora non rerum. 
                        p Sit adipisci possimus alias nobis, omnis eveniet repellat beatae earum mollitia quae enim quia aliquid facere ab rem? Enim aspernatur a in tempora mollitia sit facilis natus culpa?