include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/partners-form/partners-form.pug
include ../../components/tabs/tabs.pug
include ../../components/bread-crumbs/bread-crumbs.pug

.rent 
    .rent__container.container

        +bread-crumbs([{name: "Услуги", href:"/"}, {name: " Аренда готового сервера", href:"#"}])

        .rent__title.title.text-masked-element(style="--background: #303031") 
            p АРЕНДА
            p ОБОРУДОВАНИЯ


        +tabs(tabs) 
            .tabs__page(data-id="501" active="active")
                include ../../blocks/rent-tools/rent-tools.pug
            .tabs__page(data-id="502")
                include ../../blocks/rent-config/rent-config.pug


.about__footer 
    //- include ../../../assets/svg/above-footer.svg
    .about__container
        .about__split 
            div.about__wrap 
                div
                    h2 Остались вопросы?
                    p 
                        p Заполните форму и мы свяжемся
                        p с вами в ближайшее время.
                div 
                    p 
                        p Вы всегда можете получить
                        p консультацию по телефону:
                    a.about__phone(href="tel:81234567890") 
                        h3 8 123 456 78 90 
            +partners-form("")
