include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/tabs/tabs.pug
include ../../components/bread-crumbs/bread-crumbs.pug
include ../../blocks/actions/actions.pug

.rent 
    .rent__container.container

        +bread-crumbs([{name: "Услуги", href:"/"}, {name: " Аренда готового сервера", href:"#"}])

        .banner 
            .banner--left
                .cloud__title.title.text-masked-element(style="--background: #303031; ")
                    p АРЕНДА
                    p ОБОРУДОВАНИЯ
                div
                    p Давно выяснено, что при оценке дизайна и 
                    p композиции читаемый текст мешает сосредоточиться. 
                    p Lorem Ipsum используют потому, что тот обеспечивает
                    p более или менее стандартное 

                .cloud__order  
                    button.cloud__button 
                        span Заказать услугу
                        img(src="../../../assets/svg/arrow-right.svg" alt="")

            .banner--right
                include ../../../assets/svg/rent.svg


        +tabs(tabs) 
            .tabs__page(data-id="501" active="active")
                include ../../blocks/rent-tools/rent-tools.pug
            .tabs__page(data-id="502")
                include ../../blocks/rent-config/rent-config.pug

        //- +actions-block(actions)

        .rent__title.title.text-masked-element(style="--background: #303031") ЧТО ВХОДИТ В СТОИМОСТЬ
        ul.rent__include 
            each i in description
                li
                    img(src= i.icon, alt="")
                    p= i.caption



