include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/tabs/tabs.pug
include ../../components/bread-crumbs/bread-crumbs.pug
include ../../components/banner/banner.pug
include ../../blocks/actions/actions.pug


.services 
    .services__container.container

        +bread-crumbs([{name: "Главная", href:"/"}, {name: "Услуги", href:"#"}])


        //- +banner("../../../assets/svg/green-cancer.svg")
        .banner 
            .banner--left
                .services__title.title.text-masked-element(style="--background: #303031; ") УСЛУГИ
                div
                    p Давно выяснено, что при оценке дизайна и 
                    p композиции читаемый текст мешает сосредоточиться. 
                    p Lorem Ipsum используют потому, что тот обеспечивает
                    p более или менее стандартное 


                button.rent-config__button 
                    div
                        span Посмотреть все услуги
                        img(src="../../../assets/svg/arrow-right.svg" alt="")

            .banner--right
                img(src="../../../assets/images/services.png" alt="services image")

        .services__tiles
            each i in services
                .convex(data-tiled= !!i.tiled, data-rotated= !!i.rotated)
                    img(src= i.img, alt="")
                    p= i.title

        +actions-block(actions)

        include ../../blocks/advantages/advantages.pug





