include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/tabs/tabs.pug
include ../../components/bread-crumbs/bread-crumbs.pug
include ../../components/banner/banner.pug

.telecom 
    .telecom__container.container

        +bread-crumbs([{name: "Услуги", href:"/services.html"}, {name: "Услуги связи", href:"#"}])


        //- +banner("../../../assets/images/pngtree-information-technology-cloud-computing-internet_6406325 1.png")
        .banner 
            .banner--left
                .telecom__title.title.text-masked-element(style="--background: #303031; ") 
                    p УСЛУГИ СВЯЗИ
                div
                    p Основная идея телеком услуг - это связь 
                    p различных устройств между собой
                .cloud__order 
                    //- div 
                    //-     p Цена от: 
                    //-         strong 15 000 ₽ 
                    //-     p за 1 метр в год

                    button.button= "Заказать услугу \u27F6"  
                    button.button.button--transparent
                        a(href="/kb.html") БАЗА ЗНАНИЙ  

            .banner--right
                include ../../../assets/svg/telecom.svg

        .about__block
            .about__container
                h2.telecom__title.telecom__title--small О ТЕЛЕКОММУНИКАЦИОННЫХ УСЛУГАХ
                .about__split 
                    p ДАВНО ВЫЯСНЕНО, ЧТО ПРИ ОЦЕНКЕ ДИЗАЙНА И КОМПОЗИЦИИ ЧИТАЕМЫЙ ТЕКСТ МЕШАЕТ СОСРЕДОТОЧИТЬСЯ. LOREM IPSUM ИСПОЛЬЗУЮТ ПОТОМУ, ЧТО ТОТ ОБЕСПЕЧИВАЕТ БОЛЕЕ ИЛИ МЕНЕЕ СТАНДАРТНОЕ 
                    p ДАВНО ВЫЯСНЕНО, ЧТО ПРИ ОЦЕНКЕ ДИЗАЙНА И КОМПОЗИЦИИ ЧИТАЕМЫЙ ТЕКСТ МЕШАЕТ СОСРЕДОТОЧИТЬСЯ. LOREM IPSUM ИСПОЛЬЗУЮТ ПОТОМУ, ЧТО ТОТ ОБЕСПЕЧИВАЕТ БОЛЕЕ ИЛИ МЕНЕЕ СТАНДАРТНОЕ 



        //- include ../../blocks/colocation/colocation.pug



