include ../../pug/splides.pug
include ../../components/service-card/service-card.pug
include ../../components/range/range.pug
include ../../components/tabs/tabs.pug
include ../../components/bread-crumbs/bread-crumbs.pug
include ../../components/banner/banner.pug

.telecom 
    .telecom__container.container

        +bread-crumbs([{name: "Услуги", href:"/"}, {name: " Телекоммуникационные услуги", href:"#"}])

        .telecom__title.title.text-masked-element(style="--background: #303031; ") 
            p ТЕЛЕКОММУНИКАЦИОННЫЕ 
            p УСЛУГИ

        +banner("../../../assets/images/pngtree-information-technology-cloud-computing-internet_6406325 1.png")
            div
                p Основная идея телеком услуг - это связь 
                p различных устройств между собой
            .telecom__row
                div 
                    p Цена от: 
                        strong 15 000 ₽ 
                    p за 1 метр в год

                button.rent-config__button 
                    div
                        span Заказать
                        img(src="../../../assets/svg/arrow-right.svg" alt="")


        .rent__title.title.text-masked-element(style="--background: #303031") 
            p ЧТО ВКЛЮЧАЕТ В СЕБЯ УСЛУГА 
            p COLOCATION
        ul.rent__include 
            each i in description
                li
                    img(src= i.icon, alt="")
                    p= i.caption



