.search-popup
    position: fixed
    inset: 0
    background: #0000
    backdrop-filter: blur(0px)
    z-index: -1
    flex-direction: column
    align-items: center
    display: none
    opacity: 0
    transition-property: opacity, backdrop-filter
    transition-duration: 1s

    &[open]
        // display: flex !important

        opacity: 1
        backdrop-filter: blur(10px)
        z-index: 1000
        // +cur-b

    &__input
        position: absolute
        left: 50%
        top: 10%
        translate: -50% -50%
        display: flex
        align-items: center
        border-bottom: 1px #303031 solid
        margin-top: 225px
        width: min(840px,80%)
        transition: border-bottom-color $std_trans

        & > input
            background: none
            border: none
            flex: 1
            font-size: clamp(18px,3.5vw,35px)
            outline: none
            &::placeholder
                color: #303031
                transition: color $std_trans

    &__input-icon
        aspect-ratio: 1
        width: clamp(19px,3.4vmin,34px)
        transition: $std_trans
        & > img
            width: 100%

    &__close
        position: absolute
        top: -400%
        right: 0%
        & > svg
            stroke: #303031
            transition: stroke $std_trans

    &--white
        & > .search-popup__input
            border-bottom: 1px #fff solid
            & > input
                &::placeholder
                    color: #fff

        & .search-popup__close
            & > svg
                stroke: #fff !important

        & .search-popup__input-icon
            filter: invert(1)
