.search-popup
    .search-popup__input 
        .search-popup__close 
            img(src="../../../assets/svg/x-square.svg")
        input(type="text", placeholder="Поиск")
        .search-popup__input-icon 
            img(src="../../../assets/svg/search.svg")