mixin tabs(arr)
    .tabs
        .tabs__container
            .tabs__controls
                each i, idx in arr 
                    .tabs__control
                        if idx===0
                            input(type="radio" name="tabs" data-id= i.id checked="checked" data-name="")
                        else
                            input(type="radio" name="tabs" data-id= i.id data-name="config")
                        .tabs__button= i.nameControl

            .tabs__bodies 
                block
