mixin number-input(name)
    .number-input
        .number-input__button.number-input__button--plus
            img(src="../../../assets/svg/plus.svg" alt="")
        input(type="text", name= name, value="1")&attributes(attributes)
        .number-input__button.number-input__button--minus
            img(src="../../../assets/svg/minus.svg" alt="")