$change_grid: 900px
$change_grid1: 600px

.news-feed
    display: grid
    grid-template-columns: repeat(2,49%)
    column-gap: 2vw
    @media (width <= $change_grid)
        grid-template-columns: auto minmax(auto,39vw)
        column-gap: 10px
    @media (width <= $change_grid1)
        grid-template-columns: 100%
        row-gap: 4vh
        padding-bottom: 20vh

    &__list
        padding-left: 0
        list-style: none
        display: flex
        flex-direction: column
        row-gap: 1.5vh
        max-height: 513px
        overflow-y: auto
        scrollbar-width: thin
        scrollbar-color: #30A842 #404041
        &::-webkit-scrollbar
            width: 7px
            background: #404041
        &::-webkit-scrollbar-thumb
            background: #30A842
            border-radius: 21px
        @media (width <= $change_grid1)
            height: 20vh
            overflow-y: auto

    &__list-item
        display: flex
        justify-content: space-between
        padding: 1.1vh 1.388889vw
        margin-right: 18px
        border-radius: 10px
        background: rgba(255, 255, 255, 0.01)
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        backdrop-filter: blur(24px)
        p
            &:nth-child(1)
                overflow: hidden
                text-overflow: ellipsis
                display: -moz-box
                -moz-box-orient: vertical
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                line-clamp: 3
                box-orient: vertical

    &__subscribe
        +cur-w
        margin-top: 32px
        span
            font-weight: 700
            font-size: clamp(12px,25 / 900 * 100vw,25px)
        label
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid #fff
            padding: 14px 0 10px
        button, input
            background: transparent
            border: none
        input
            color: #fff
            font-size: 18px
            flex: 1 1 90%
            // outline-color: #30A842
            border-radius: 10px
            padding-left: 1em
            &:focus
                outline: 1px solid #30A842
                outline-offset: 3px
                border: none

        button
            +cur-w
            padding: 0
            & > img
                width: 100%

    &__hidden
        position: absolute
        scale: 0

    &__itemdata-date
        @media (width <= $change_grid)
            display: none

    &__itemdata-text
        @media (width <= $change_grid)
            font-size: clamp(11px,16/900*100vw,16px)

    &__right
        @media (width <= $change_grid1)
            grid-row-start: 1
