.news-feed
    display: grid
    grid-template-columns: repeat(2,1fr)
    column-gap: 42px

    &__list
        list-style: none
        display: flex
        flex-direction: column
        row-gap: 15px
        max-height: 513px
        overflow-y: auto
        scrollbar-width: thin
        scrollbar-color: #30A842 #404041
        &::-webkit-scrollbar
            width: 7px
            background: #404041
        &::-webkit-scrollbar-thumb
            background: #30A842
            border-radius: 21px

    &__list-item
        display: flex
        justify-content: space-between
        padding: 11px 20px
        margin-right: 18px
        border-radius: 10px
        background: rgba(255, 255, 255, 0.01)
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        backdrop-filter: blur(24px)
        p
            &:nth-child(1)
                overflow: hidden
                text-overflow: ellipsis
                display: -moz-box
                -moz-box-orient: vertical
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                line-clamp: 3
                box-orient: vertical

    &__subscribe
        +cur-w
        margin-top: 32px
        label
            display: flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid #fff
            padding: 14px 0 10px
        button, input
            background: transparent
            border: none
        input
            color: #fff
            font-size: 18px
            flex: 1
            // outline-color: #30A842
            border-radius: 10px
            padding-left: 1em
            &:focus
                outline: 1px solid #30A842
                outline-offset: 3px
                border: none

        button
            +cur-w

    &__hidden
        position: absolute
        scale: 0
