mixin select(name, title, options)
    .select
        .select__container 
            input(type="text", name= name, hidden)
            input(type="checkbox" name="open")
            .select__header
                span.select__title!= title
                span
                    img(src="../../../assets/svg/chevron.svg")
            ul.select__list 
                each option in options
                    if (typeof option === "object")
                        - const datable = Object.fromEntries(Object.entries(option).map(([key,val])=>["data-"+key,val]))
                        //- li(data-vendor= option.vendor)= option.title 
                        //- li&attributes({["data-"+some[0][0]]:some[0][1]})= some[1][1]
                        li&attributes(datable)= option.title
                    else
                        li= option