.geo-popup
    display: none
    background: #fff0
    backdrop-filter: blur(6px)
    box-shadow: inset 10px 10px 30px #fff
    padding: 1em
    border-radius: 33px
    &__region
        background: #30A842
        border-radius: 33px
        color: #fff
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 19px
        width: fit-content
        padding: 6px 26px

    &__dclist
        display: flex
        flex-direction: column
        padding: 0

    &__dcname
        font-weight: 700
        font-size: 25px
        text-transform: uppercase
        color: #115DA1

    &__dcparam
        font-size: 18px
        margin-bottom: 15px
        &:last-child
            margin-bottom: unset
