mixin data-card(i)
    .data-card__container
        .data-card__front
            .data-card__title!= i.title
            .data-card__caption= i.caption
        .data-card__back 
            .data-card__text= i.text