.rent__title.title.text-masked-element(style="--background: #303031") 
    p ЧТО ВКЛЮЧАЕТ В СЕБЯ УСЛУГА 
    p COLOCATION
ul.rent__include 
    each i in description
        li
            img(src= i.icon, alt="")
            p= i.caption