mixin server-item()
    .server-item
        .server-item__container

            .server-item__name CL21R-SSD
            .server-item__tag Рекомендуем
            .server-item__tag Сервер с лицензиями 1С


            .server-item__text.server-item__cpu Intel Core i7-8700 3.2 ГГц, 6 ядер
            .server-item__text.server-item__ram 64 ГБ DDR4
            .server-item__text.server-item__disc 2 × 480 ГБ SSD SATA

        button.server-item__button ЗАКАЗАТЬ
