@import "../../pages/sections/_service-center"
.service-card

    &__container
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        padding: 2.5vh clamp(10px, 1.302083vw,25px)
        border-radius: 3.3vmin
        // background: #ECF0F3b0
        background: rgba(9, 8, 21, 0.01)
        // box-shadow: 1vw 1.8vh 3vmin #D1D9E6
        height: 100%
        display: flex
        flex-direction: column
        backdrop-filter: blur(18px)
        transition: 1s
        color: #fff

        &:hover
            // background: #ECF0F3ef
            // background: #fefefeee
            & > .service-card__title
                // background-color: #115DA1
                background-color: #fff
                color: #115DA1
                // padding: 10px 10px
                // line-height: 1

        &--advantages
            color: #303031
            // box-shadow: inset 0 0 200px #fffa
        //     &:hover
        //         & > .service-card__title
        //             border-color: #30A842
        //             background-color: #30A842
        //             color: #fff
        //     &[glass]
        //         @extend .data-card__container

    &__title
        padding: 10px 12px
        margin-inline: -9px
        border-radius: 33px
        // border: 1px solid #115DA1
        transition: background-color .5s
        width: fit-content
        font-size: clamp(15px,1.5vmax,22px)
        letter-spacing: -0.02em
        font-weight: 700
        // font-size: 20px
        +mq1440
            margin-inline: 0

        @media ($change_point1)
            font-size: 16px

    &__list
        padding: 0
        margin: 0
        margin-top: 1vh
        // font-size: clamp(11px,1vmax,16px)
        font-size: clamp(12px,1.5vmax,16px)
        overflow-y: auto
        +delete-scrollbar
        @media ($change_point1)
            font-size: 14px

        a
            text-decoration: none
