mixin service-card(i,x)
    .service-card__container(class=x?"service-card__container--"+x:"")
        .service-card__title= i.title
        ul.service-card__list
            each j in i.list 
                li= j