.range
    display: grid
    grid-template-columns: 18% auto 10% 10%

    &__input
        width: 100%

    input[type="text"],input[type="number"]
        border: none
        text-align: center
        width: 40%
        margin-inline: auto
