mixin range(val, min, max, label, unit)
    .range
        if label
            div= label
        .range__input(min= min, max= max, val= val)
        input(type="number", value= val)
        div= unit