.inserting
    position: absolute
    z-index: -1
    inset: 0
    & > img
        display: block
        margin-left: auto
        width: 64%

    & > video
        width: 100vw
        height: 100vh
        object-fit: cover
        object-position: center
