.main-block
    margin-top: 154px
    margin-left: calc(200/1920*100%)
    margin-right: 100px
    display: flex
    justify-content: space-between
    &__leftside
        margin-top: 98px
    &__title
        font-size: 90px
        font-weight: bold
        // color: #303031
        text-transform: uppercase
        --x: 0%
        background: #303031
        background-clip: text
        -webkit-background-clip: text
        color: transparent
        &:hover
            // background: linear-gradient(to right, #222 var(--x)-1%, #115DA1 (var(--x)))
            background: radial-gradient(circle at 100%, #115DA1 var(--x)-1%, #303031 var(--x))
            background-clip: text
            -webkit-background-clip: text
            color: transparent
        & > p + p
            margin-top: -13px
    &__aside
        display: block
