.options
    margin-left: auto
    display: flex
    align-items: center
    z-index: 1
    &__lk
        margin: 0 18px 0 25px
        & > a
            color: #fff
            background: #30A842
            border-radius: 33px
            padding: 7px 21px
    & a
        text-decoration: none
        text-transform: uppercase
        +cur-b

    &__international
        display: flex
        column-gap: 12px
        & > a
            color: inherit
