.options
    margin-left: auto
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    z-index: 1
    row-gap: 10px

    // @media (width < 1200px)
    //     margin-left: unset
    //     justify-self: end

    &__lk
        margin: 0 0.9375vw 0 1.302083vw
        & > a
            color: #fff
            background: #30A842
            border-radius: 33px
            padding: 7px 21px
            font-size: clamp(12px,20/1920*100vw,20px)
            white-space: nowrap
    & a
        text-decoration: none
        text-transform: uppercase
        // +cur-b

    &__international
        display: flex
        column-gap: 0.625vw
        font-size: clamp(12px,18/1440*100vw,18px)
        & > a
            color: inherit

        &--white
            color: #fff

    &__search
        & > img
            width: 100%
        &--white
            filter: invert(1)

        @media (width < 1200px)
            width: 20px

    @media (width < 1440px)
        order: -1
        flex-basis: 50%
        justify-content: end

    @media (width < 520px)
        justify-content: center
