.screen-switcher
    position: fixed
    top: 50%
    right: 5.208333vw
    translate: 0 -50%
    list-style-type: none
    counter-reset: counter
    cursor: pointer
    z-index: 100
    transition: opacity .5s
    color: #404041

    &.screen-switcher--white
        color: #ECF0F3
        font-size: 200px

    @media (width<545px)
        right: 2.5vw

    &__item
        position: relative
        user-select: none
        font-size: clamp(11px,30/1920*100vw,30px)
        font-weight: 350
        position: relative
        &::before
            content: counter(counter)
            counter-increment: counter

        &:nth-child(-n+9)::before
            content: "0" counter(counter)

        & + .screen-switcher__item
            margin-top: 26px

        &[current]
            color: #30A842
            & > .green-circle
                transform: scale(1) translate(-50%, -50%)

.green-circle
    position: absolute
    aspect-ratio: 1
    width: clamp(20px,50/1920*100vw,50px)
    border-radius: 50%
    border: 1px solid #30A842
    top: 50%
    left: 50%
    transform: scale(0) translate(-50%, -50%)
    transform-origin: 0% 0%
    transition: transform .5s
