include ../../components/select/select.pug
include ../../components/number-input/number-input.pug
.rent-config
    .rent-config__container
        .rent-config__main-block 
            each i in Object.keys(serverConfig)
                .rent-config__line 
                    span= serverConfig[i].name
                    .rent-config__select
                        +select(i,serverConfig[i].list[0].title,serverConfig[i].list)
                    .rent-config__number(data-value="1") 
                        +number-input()
                    .rent-config__output(data-price=  serverConfig[i].list[0].price)= serverConfig[i].list[0].price

        .rent-config__description 
            .rent-config__title В цену входит
            ul.rent-config__list 
                each i in description
                    li.rent-config__list-item 
                        img(src= i.icon, alt="")
                        span= i.caption
            button.rent-config__button 
                div
                    span Заказать
                    img(src="../../../assets/svg/arrow-right.svg" alt="")
