@import "@var"

.scroll
    scroll-behavior: smooth
    overflow-y: auto
    // padding-top: 160px
    scrollbar-width: none
    transform: translate(0,0)

    &::-webkit-scrollbar
        width: 0px
    @media ($MOBILE)
        overflow: auto
