.accordion
    list-style: none
    text-transform: uppercase
    font-size: clamp(12px,16/545*100vw,16px)

    & li
        margin-bottom: 1em

    &__item

        &:hover > &-list
            max-height: 50vh

    &__item-list
        overflow: auto
        max-height: 0vh
        transition: max-height .5s
        margin-top: 1em

    &__menu
        list-style-type: none//" \2192 "

        &:hover > .accordion__item-list
            max-height: 50vh

        & > a
            color: #fff

    &__node
        list-style-type: none
        & > a
            color: #fff
