mixin accordion(arr, classListItem)
    ul.accordion
        each i in arr
            li.accordion__item(class=classListItem)= i.title
                ul.accordion__item-list
                    each j in i.menu
                        if j.menu
                            li.accordion__menu!= j.name+" \u25BC"
                                ul.accordion__item-list
                                    each k in j.menu
                                        li.accordion__menu
                                            a(href= k.href)= k.name
                        else 
                            li.accordion__node
                                a(href= j.href)= j.name