@import "@var"
.burger
    margin-right: clamp(5px,74/1920*100vw,74px)
    width: 46px
    transition: opacity $std_trans

    &__title
        color: #fff
        position: fixed
        top: 15%
        left: 0
        width: 100%
        padding: 0 clamp(5px,200/1920*100vw,200px)
        font-size: clamp(20px,5vmin,60px)

    &__list
        scale: 1 0
        position: absolute
        top: -5px
        left: 0
        height: 100vh
        width: 100vw
        z-index: -1
        background-color: #1C376A
        transition: transform $std_trans
        transform-origin: 50% 0
        & > .list
            top: 30vh
            height: 60vh
            padding-top: 0
            overflow-y: auto
            gap: 3%
            @media (width <= 1024px)
                padding: 0 1em

    &__image
        background-image: url("../../../assets/svg/burger.svg")
        background-repeat: no-repeat
        width: 46px
        height: 12px

    &.show
        & .burger__list
            scale: 1 1

            & > .list
                scale: 1
        & > .burger__image
            background-image: url("../../../assets/svg/x.svg")
            height: 46px
