.burger
    margin-right: clamp(5px,74/1920*100vw,74px)
    width: 46px

    // @media (width < 1440px)
    //     margin-right: 5px

    &__list
        scale: 1 0
        position: absolute
        top: -5px
        left: 0
        height: 100vh
        width: 100vw
        z-index: -1
        background-color: #1C376A
        transition: transform .5s
        transform-origin: 50% 0
        & > .list
            top: 25vh
            height: 75vh
            padding-top: 0
            overflow-y: auto
            @media (width <= 1024px)
                padding: 0

    // &:hover
    //     & > .burger__list
    //         scale: 1 1
    //         & > .list
    //             scale: 1 1
