@import "./_menu"
@import "./_list"
@import "./_burger"

.main-header
    position: fixed
    top: 5px
    left: 0
    right: 0
    z-index: 105
    display: flex
    align-items: center
    padding: 0 clamp(5px,100/1920*100vw,100px) 0 clamp(5px,50/1920*100vw,50px)
    cursor: inherit

    & > .logo
        background-image: url("../../../assets/logo/logo.png")
        background-repeat: no-repeat
        background-size: contain
        background-position: 0 50%
        width: 18%
        height: 80px
        &--white
            background-image: url("../../../assets/logo/logo-white.png")

    & > .options > .options__search
        &--while > img
            filter: invert(1)

    &.show
        & > .logo
            background-image: url("../../../assets/logo/logo-white.png")
        & > .options
            &
                color: #fff
                & > .options__search:not(.options__search--white)
                    & > img
                        filter: invert(1)
                a
                    color: #fff

    &  .options__search svg path
        fill: #000
        transition: fill $std-trans

    &--white
        & > .logo
            background-image: url("../../../assets/logo/logo-white.png")
        & > .menu
            color: #fff

        &  .options__international
            color: #fff
        &  .options__search svg path
            fill: #fff

        &   .menu-reduced__caption
            color: #fff
            @media (width <= $toggle-menu)
                color: transparent

    @media (width < 1440px)
        padding: 0 1vw 0 1vw
        flex-wrap: wrap
        & > .logo
            order: -2
            flex: 1 0 50%
            height: 40px

    @media (width <= $toggle-menu)
        & > .options
            display: none
        & > .logo
            flex-basis: 60%
            order: 1
            background-position: center

.cristal
    position: absolute
    bottom: 0
    right: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -2
    object-fit: cover
    object-position: 100% 100%
