@import "./_menu"
@import "./_list"
@import "./_burger"

.main-header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1
    display: flex
    align-items: center
    padding: 0 100px 0 50px
    cursor: url("../../../assets/cursor/black.png") 19 19, default

    & > .logo
        background-image: url("../../../assets/logo/logo.png")
        // background-repeat: no-repeat
        width: 320px
        height: 80px
        &--white
            background-image: url("../../../assets/logo/logo-white.png")
    // &:hover
    //     & > .logo
    //         background-image: url("../../../assets/logo/logo-white.png")
    //     & > .menu > .menu__item
    //         color: #fff
    &:has(.menu:hover)
        & > .logo
            background-image: url("../../../assets/logo/logo-white.png")
        & > .options
            &
                color: #fff
                img
                    filter: invert(1)
                a
                    color: #fff

.cristal
    position: absolute
    bottom: 0
    right: 0
