@import "@var"

.menu
    // display: grid
    // grid-auto-flow: column
    display: flex
    justify-content: space-evenly
    flex: 1
    @media (width < 1440px)
        padding-left: 0
        flex-basis: max-content

    & > .menu__item
        padding: 0 0.520833vw
        transition: color .2s
        display: block
        list-style: none
        text-transform: uppercase
        color: inherit

        & > :is(span, a)
            font-size: clamp(11px,1.166667vw,14px)
            white-space: nowrap
            transition: color $std_trans
            color: inherit

        & > .list.show
            scale: 1 1 1
            color: #fff
            // & + span
            //     // color: #30A842
            //     color: transparent
            //     background-image: url("../../../assets/svg/x.svg")
            //     background-repeat: no-repeat
            //     background-position: 50% 50%

        a
            text-decoration: none
    &.show > .menu__item > :is(span,a)
        color: #fff

    &--white
        color: #fff

    @media (width <= $toggle-menu)
        display: none

.menu-reduced
    display: none

    @media (width <= $toggle-menu)
        display: block

        &  .options
            margin-right: auto
            column-gap: 10px
            & > .options__international
                column-gap: 6px

    &__list.show
        scale: 1 1 1
        display: grid
        grid-template-columns: 100%
        & + .menu-reduced__close
            scale: 1 1
        & ~ .menu-reduced__caption
            color: transparent
            background-image: url("../../../assets/svg/x.svg")
            background-size: contain
            background-repeat: no-repeat
        @media (width <= $toggle-menu)
            grid-template-rows: 10% 90%
            padding-top: 6em

    &__caption
        color: #000
        transition: color .8s
        &--white
            color: #fff
        @media (width <= $toggle-menu)
            display: block
            translate: -19px 0
            color: transparent
            background: url("../../../assets/svg/burger.svg") no-repeat
            background-position: 0 50%

    &__close
        background: none
        border: none
        padding: 0
        margin: 0
        position: absolute
        right: 2em
        top: 7em
        scale: 0 0
        transition: transform $std_trans

    .accordion__container
        padding-left: 2em

        & > *
            display: block
            margin-block: 1rem
            padding: 0
            text-decoration: none

            &::before
                position: absolute
                top: 0
                right: calc(100% + 0.5em)
                z-index: 2
                filter: invert(1)

        & > a
            padding-bottom: 1em
            position: relative

            &::before
                content: "\1F517"

            & > li
                padding: 0
                margin: 0

        & > *:not(a)
            position: relative
            &::before
                content: "\1F4C1"
