include ../accordion/accordion.pug
mixin menuList(arr)
    each j in arr
        if j.menu 
            li.list__item.list__item--big 
                span!= j.name
                ul.list--details     
                    each k in j.menu 
                        li.list__item.list__item--small
                            a(href=k.href)!= k.name
        else
            li.list__item.list__item--big
                a(href=j.href)!= j.name



nav.main-header
    .burger 
        ul.burger__list
            .list
                +menuList(burger)
        .burger__image

    .logo

    .menu-reduced 
        ul.menu-reduced__list.list
            img.cristal(src="../../../assets/svg/cristal.svg")
            +accordion(menu,"menu-reduced__item")
        span.menu-reduced__caption МЕНЮ

    ul.menu
        each i in menu 
            li.menu__item
                ul.list
                    +menuList(i.menu)
                    img.cristal(src="../../../assets/svg/cristal.svg")
                span= i.title
    .options 
        .options__search 
            img(src="../../../assets/svg/search.svg")
        .options__lk 
            a(href="#") ЛИЧНЫЙ КАБИНЕТ
        .options__international 
            a(href="#") Rus
            a(href="#") Eng



