nav.main-header
    .burger 
    .logo 
    ul.menu
        each i in menu 
            li.menu__item
                ul.list
                    each j in i.menu
                        if j.menu 
                            li.list__item.list__item--big 
                                span!= j.name
                                ul.list--details     
                                    each k in j.menu 
                                        li.list__item.list__item--small
                                            a(href=k.href)!= k.name
                        else
                            li.list__item.list__item--big
                                a(href=j.href)!= j.name
                    img.cristal(src="../../../assets/svg/cristal.svg")
                span= i.title
    .options 
        .options__search 
            include ../../../assets/svg/search.svg
        .options__lk 
            a(href="#") ЛИЧНЫЙ КАБИНЕТ
        .options__international 
            a(href="#") Rus
            a(href="#") Eng



