include ../accordion/accordion.pug
include ./menu-list.pug



nav.main-header.main-header--white
    .burger 
        ul.burger__list
            .list
                li.burger__title
                    h2 Карта сайта
                +menuList(burger)
            img.cristal(src="../../../assets/svg/veil.svg")
        .burger__image

    .logo

    .menu-reduced(data-selector=".menu-reduced .accordion__container \> li:first-child .accordion__item-list .accordion__item-list")
        ul.menu-reduced__list.list
            img.cristal(src="../../../assets/svg/veil.svg")
            .options 
                .options__search 
                    include ../../../assets/svg/search.svg
                .options__lk 
                    a(href="#") ЛИЧНЫЙ КАБИНЕТ
                .options__international
                    a(href="#") Rus
                    a(href="#") Eng
            +accordion(menu,"menu-reduced__item")
        span.menu-reduced__caption МЕНЮ

    ul.menu
        each i in menu 
            li.menu__item

                ul.list
                    //- span.list-header(style="position:absolute;")= i.title
                    .wrapper
                        +menuList(i)
                    img.cristal(src="../../../assets/svg/veil.svg")
                if !i.menu.length
                    a(href= i.href)= i.title
                else 
                    if i.href
                        a(href= i.href, data-menu)= i.title
                    else
                        span= i.title

                //--- заменил в предыдущем теге span на a, при выключеной обрабоке меню


    .options 
        .options__search 
            include ../../../assets/svg/search.svg
        .options__lk 
            a(href="#") ЛИЧНЫЙ КАБИНЕТ
        //- .options__international
        //-     a(href="#") Rus
        //-     a(href="#") Eng



